[Container]
Image=soju
AutoUpdate=local

HostName=fire-soju
Volume=/var/lib/soju:/var/lib/soju:Z
PublishPort=6667:6667

[Service]
StateDirectory=soju

[Install]
WantedBy=default.target
