# https://github.com/syncthing/syncthing/blob/main/README-Docker.md
[Container]
Image=docker.io/syncthing/syncthing:latest
AutoUpdate=registry

HostName=fire-syncthing
Volume=/etc/syncthing:/etc/syncthing:Z
Volume=/var/lib/syncthing:/var/syncthing:Z
Network=host
Environment=STGUIADDRESS=
Exec=--config=/etc/syncthing --data=/var/syncthing

[Service]
StateDirectory=syncthing
ConfigurationDirectory=syncthing

[Install]
WantedBy=default.target
